.loading {
  width: 100vw;
  height: 100vh;

  background-color: rgb(18, 21, 24);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 30px;
}

.content {
  display: flex;
}

.pointAnime1 {
  opacity: 0;
  animation-duration: 3s;
  animation-name: pointAnime1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes pointAnime1 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pointAnime2 {
  opacity: 0;
  animation-duration: 3s;
  animation-name: pointAnime2;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes pointAnime2 {
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pointAnime3 {
  opacity: 0;
  animation-duration: 3s;
  animation-name: pointAnime3;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes pointAnime3 {
  20% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
